.active {
  color: #ff4800 !important;
  text-decoration: underline;
  background: none !important;
  border: none !important;
  font-size: 18px;
  font-weight: bold;
}

a {
  font-size: 18px;
  font-weight: medium;
}
a:hover {
  background: none !important;
}
